<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>About Us</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
      <div>
            <nav style="height: 6vh; background-color: black; display:flex; align-items:center ; justify-content: space-between;">
                  <div style="padding-left: 1%;">
                        <a  href="/" >
                          <img src="../favicon.ico" alt="Avatar Logo" style="width:40px;" class="rounded-pill"  > 
                       </a>
                      </div>
                      <div  style="display: flex; justify-content: right;">
                        <a class="nav-link" href="/"> <button type="button" class="btn btn-dark" style="height: 6vh; border-radius: 0;">Home</button></a>
                        <a class="nav-link" href="about"> <button type="button" class="btn btn-dark" style="height: 6vh; border-radius: 0;">About Us</button></a>
                        <a class="nav-link" href="contact"> <button type="button" class="btn btn-dark" style="height: 6vh; border-radius: 0;">Contact Us</button></a>
                        <a class="nav-link" href="package"> <button type="button" class="btn btn-dark" style="height: 6vh; border-radius: 0;">Package</button></a> 
                        
                      </div>
            </nav>
      </div>
      <!-- About 2 - Bootstrap Brain Component -->
   <section style="display: flex; height: 94vh; align-items: center;" class="py-3 py-md-5 py-xl-8">
      <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
          <div class="col-12 col-lg-6" style="padding-right: 7%;">
            <img class="img-fluid rounded" loading="lazy" src="../Images/337528346_173447745510526_6637065003684180675_n.jpg" alt="">
          </div>
          <div class="col-10 col-lg-6">
            <div class="row justify-content-xl-center">
              <div class="col-12 col-xl-10">
                <h2 class="h1 mb-3">Why Choose Us?</h2>
                <p class="lead fs-5 mb-4 mb-xl-5">At Sakura Trails, we believe that travel is more than just visiting new places; it's about experiencing different cultures, creating unforgettable memories, and enriching our lives through unique adventures.
                  Our mission is to inspire and empower travelers like you to embark on incredible journeys, discover hidden treasures, and connect with the world in meaningful ways.
                  With a team of passionate travel experts, we strive to provide you with comprehensive travel resources, insightful guides, and personalized recommendations to make your trip planning seamless and stress-free.
                  
                  </p>
                <div class="d-flex align-items-center mb-3">
                  <div class="me-3 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                  </div>
                  <div>
                    <p class="fs-5 m-0">Expertise: Benefit from our years of experience crafting memorable journeys.</p>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                  <div class="me-3 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                  </div>
                  <div>
                    <p class="fs-5 m-0">Personalized Service: Enjoy tailor-made itineraries and attentive assistance.</p>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                  <div class="me-3 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                  </div>
                  <div>
                    <p class="fs-5 m-0">Memorable Experiences: Create lasting memories with our carefully curated adventures.</p>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-4 mb-xl-5">
                  <div class="me-3 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                  </div>
                  <div>
                    <p class="fs-5 m-0">Insider Access: Access hidden gems and exclusive experiences.</p>
                  </div>
                </div>
                <a href="contact"><button type="button" class="btn bsb-btn-2xl btn-outline-primary rounded-pill">Contact Us</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      
</body>
</html>